
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
}

.main-body{
  width: 700px;
  height: 2618px;
  object-fit: contain;
  background-color: #fff;
  font-family: Roboto;
}


.welcome {
    width: 129px;
    height: 14px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.58;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d3d;
    margin-top: 34px;
    margin-left: 134px;
  }


  .Ayu-Health {
    width: 425.4px;
    height: 39.3px;
    flex-grow: 0;
    margin-left: 134.4px;
    margin-top: 16px;
    font-size: 39.3px;
    font-weight: 500;
  }
  

  .Add-Ayu-To-Your-Life {
    width: 430.6px;
    height: 17px;
    flex-grow: 0;
    margin-left: 135.4px;
    margin-top: 24.4px;
    color: rgb(84, 176, 204);
  }

  .imgcall {
    width: 42px;
    height: 42px;
    flex-grow: 0;
    object-fit: contain;
    margin-top: 20px;
    margin-left: 145.4px;
    display: flex;

  }


  .imgcall .imgNumber{
    width: 102px;
    height: 19px;
    flex-grow: 0;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.78;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d3d;
    padding: 2px;
  }


  .Hi-Ambu {
    width: 194px;
    height: 24px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: -0.29px;
    text-align: left;
    color: #2d2d3d;
    margin-left: 32px;
    margin-top: 18px;
  }


  .Get-exclusive-access-to-all-our-services {
    width: 392px;
    height: 16px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: -0.26px;
    text-align: center;
    color: #faac40;
    margin-left: 18px;
    margin-top: 18px;
    margin-bottom: 50px;
  }
  
.img-contentGroup{
  display: flex;
  margin: 0px;
} 


  .img-content{width: 300px;
  height: 24px;
  flex-grow: 0;
  display: flex;
  margin-top: 15px;
  margin-left: 30px;
}



  .End-to-end-Insurance-support {
    width: 260px;
    height: 20px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d3d;
    margin-left: 14px;
  }

.img-contentLeft{
    width: 50%;
}

  .img-contentRight{
  width: 50%;
  margin-left: 13px;
  }

  .imgVect
    {
      position:absolute;
      z-index: 1;
    }
    .imgVectOverlap
    {
      position:absolute;
     margin-top: 75px;
     margin-left: 75px;
      z-index: 2;
    }

    .Benefits-of {
        width: 105px;
        height: 26px;
        flex-grow: 0;
        font-family: CamphorPro;
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        margin-top: 150px;
        margin-left: 28px;
      }


      .Ayu-Privilege-card {
        width: 386px;
        height: 39px;
        flex-grow: 0;
        font-family: CamphorPro;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #3dc2da;
        margin-left: 26px;
        margin-top: 10px;
      }
      
.Rectangle-2869 {
  width: 232px;
  height: 7px;
  flex-grow: 0;
  background-image: linear-gradient(to right, #c4c4c4 0%, rgba(196, 196, 196, 0) 102%);
  margin-left: 27px;
  margin-top: 5px;
}
 

.consultation{

    margin-top: 30px;
} 

.consultation1{
    display: flex;
}

img.Icon--for-corporate-empolyee_opd-consultation-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 18px;
    background-color: #fff;
  }

  .-OPD-Consultations---Self-and-family {
    width: 174px;
    height: 44px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

.consultation2{
    display: flex;
}


.-off-on-Diagnostics {
    width: 117px;
    height: 44px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  
  img.Icon--for-corporate-empolyee_medicine-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 18px;
  }

  .-off-on-Medicines {
    width: 104px;
    height: 44px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  
  img.Icon--for-corporate-empolyee_medical-treatment-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 18px;
  }

  .-Discount-on-Treatments {
    width: 116px;
    height: 44px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  
  img.Icon--for-corporate-empolyee_pickup-driop-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 18px;
  }
  

  .Pickup-Drop-Service {
    width: 113px;
    height: 44px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  
  img.Icon--for-corporate-empolyee_private-room-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 18px;
  }
  
  .Private-Room {
    width: 107px;
    height: 22px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  
  .Rectangle-1471 {
    width: 700px;
    height: 1293px;
    flex-grow: 0;
    border-radius: 4px;
    background-color: #fef3de;
    margin-top: 25px;
  }

  .Mobile-App-for-Appointments-Clinical-Services {
    width: 386px;
    height: 54px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3dc2da;
    margin-left: 34px;
    padding-top: 40px;
  }

  img.icon--for-corporate-empolyee_Download-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
  }
  .Download-Ayu-Health-app {
    width: 207px;
    height: 22px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d3d;
  }
  
  img.icon--for-corporate-empolyee_Explore-policy-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
  }


  .Login-with-registered-mobile-number {
    width: 232px;
    height: 44px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d3d;
  }
  
  img.icon--for-corporate-empolyee_Login-1 {
    width: 34px;
    height: 34px;
    flex-grow: 0;
    object-fit: contain;
  }
  

  .Exlpore-your-policy-details-and {
    width: 241px;
    height: 22px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d3d;
  }
  
  .Enjoy-features-like {
    width: 183px;
    height: 26px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d3d;
    margin-left: 40px;
    margin-top: 30px;
  }

  .Rectangle-2858 {
    width: 134px;
    height: 134px;
    flex-grow: 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
  
  img.Vector {
    width: 36px;
    height: 25px;
    flex-grow: 0;
    object-fit: contain;
    background-color: #036666;
  }
  

  .Video-Consultion-with-the-doctor {
    width: 110px;
    height: 57px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3dc2da;
    margin-top: 20px;
    margin-left: 15px;
  }
  
  
  
  img.Vector {
    width: 23px;
    height: 26px;
    flex-grow: 0;
    object-fit: contain;
    background-color: #036666;
  }
  

  .Book-Lab-tests-at-Home {
    width: 66px;
    height: 57px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3dc2da;
    margin-top: 20px;
    margin-left: 15px;
  }
  
  img.Group-13198 {
    width: 34px;
    height: 31px;
    flex-grow: 0;
    object-fit: contain;
  }

  .Book-Appointments {
    width: 105px;
    height: 38px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3dc2da;
    margin-top: 20px;
    margin-left: 15px;
  }
  
  img.fontistoprescription {
    width: 24px;
    height: 28px;
    flex-grow: 0;
    object-fit: contain;
  }

  .Get-a-digital-prescription {
    width: 89px;
    height: 57px;
    flex-grow: 0;
    font-family: CamphorPro;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3dc2da;
    margin-top: 20px;
    margin-left: 15px;
  }

  img.Group-2596 {
    width: 246px;
    height: 461px;
    flex-grow: 0;
    object-fit: contain;
  }

  img.Group-13626 {
    width: 203px;
    height: 49px;
    object-fit: contain;
  }
  
.rectConRight
{
  margin-top: 105px;
  margin-left: 70px;
}


.Download-the-mobile-app-and-get-Rs200-Ayu-cash---An-exclusive-reward-program {
  width: 647px;
  height: 34px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #787887;
  text-align: center;
  margin-top: 30px;
  margin-left: 14px;
}


.Scan-QR-Code {
  width: 166px;
  height: 33px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3dc2da;
  margin-top: 40px;
  margin-left: 35%;
}

.Rectangle-2870 {
  width: 315px;
  height: 303px;
  flex-grow: 0;
  background-color: #fff;
  margin-top: 25px;
margin-left: 25%;
}

img.icoutline-qr-code-2 {
  width: 247px;
  height: 247px;
  flex-grow: 0;
  object-fit: contain;
}

img.Group {
  width: 152px;
  height: 48px;
  flex-grow: 0;
  object-fit: contain;
}

.CONNECT-WITH-US {
  width: 300px;
  height: 18px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.69;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d3d;
  margin-left: 25%;
  margin-top: 70px;
}


img.Instagram_logo_2016-1 {
  width: 56px;
  height: 56px;
  flex-grow: 0;
  object-fit: contain;
}
img.Facebook_f_logo_2021-1 {
  width: 56px;
  height: 56px;
  flex-grow: 0;
  object-fit: contain;

}
img.px-Twitter_bird_logo_2012-1 {
  width: 56px;
  height: 45.3px;
  flex-grow: 0;
  object-fit: contain;
}
img.YouTube_full-color_icon_2017-1 {
  width: 58px;
  height: 40px;
  flex-grow: 0;
  object-fit: contain;
}

.socialApp{
  margin-left: 20%;
  margin-top: 45px;
}


.We-are-available-in {
  width: 224px;
  height: 18px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.69;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d3d;
  margin-top: 60px;
margin-left: 30%;
}

.Chandigarh {
  width: 166px;
  height: 33px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3dc2da;
  margin-left: 80px;
}

.Bangalore {
  width: 131px;
  height: 33px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3dc2da;
  margin-left: 30px;
}

.Jaipur {
  width: 74px;
  height: 33px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3dc2da;
  margin-left: 30px;
}


.NCR {
  width: 74px;
  height: 33px;
  flex-grow: 0;
  font-family: CamphorPro;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3dc2da;
  margin-left: 30px;
}

.city{
  display: flex;
  margin-top: 30px;
}





